{% extends 'base.html' %}

{% block title %}
    hotel_manage
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hotel Manage</li>
        </ol>
    </nav>
    <div class="container">
        <div style="margin-bottom: 15px" class="">
            <a class="btn btn-success btn-sm" href="{% url 'hotel_manage_add' %}">Add New Hotel</a>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">country</th>
                <th scope="col">address</th>
                <th scope="col">star</th>
                <th scope="col">room_count</th>
                <th scope="col">image</th>
                <th scope="col" style="width: 220px">action</th>
            </tr>
            </thead>
            <tbody>
            {% for hotel in page.object_list %}
                <tr>
                    <th scope="row">{{ hotel.id }}</th>
                    <td>{{ hotel.name }}</td>
                    <td>{{ hotel.city.country.name }}</td>
                    <td>{{ hotel.address }}</td>
                    <td>{{ hotel.star }}</td>
                    <td>{{ hotel.hotel_rooms.count }}</td>

                    <td>
                        <div class="hotel-img">
                            <img src="{{ hotel.hotel_images.first.url }}" alt=""
                                 class="hotel-img2"
                            >
                        </div>


                    </td>
                    <td>
                        <div class="row" style="padding: 0 15px">
                        <span class="btn-action">
                            <a class="btn-sm btn-primary"
                               href="{% url 'hotel_manage_detail' hotel.id %}"
                            >Detail
                            </a>
                        </span>
                            <span class="btn-action">

                            <a class="btn-sm btn-primary"
                               href="{% url 'hotel_image' %}?hotel_id={{ hotel.id }}"
                            >Images</a>
                        </span>
                            <span class="btn-action">
                            <a class="btn-sm btn-primary"
                               href="{% url 'room_manage_list' hotel.id %}"
                            >Rooms</a>
                        </span>
                        </div>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <div class="pagination">
                <ul class="pagination">
                    {% if page.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'hotel_manage_list' %}?page = {{ page.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span></a></li>
                    {% endif %}

                    {% for num in page.paginator.page_range %}
                        <li class=" page-item {% if num == page.number %}active{% endif %} ">
                            <a class="page-link" href="{% url 'hotel_manage_list' %}?page={{ num }}"> {{ num }}</a>
                        </li>

                    {% endfor %}

                    {% if page.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'hotel_manage_list' %}?page={{ page.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

    </div>
{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
    <style>
        .hotel-img {
            width: 100px;
        }

        .hotel-img2 {
            width: 100%
        }

        .btn-action {
            margin-right: 5px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}